*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	color: white;
}

header{
    display: flex;
    justify-content: space-between;
}

.welcome_user{
    padding: 10px;
    font-size: 20px;
}

.about{
	background-color: black;
    color: white;
    font-size: 25px;
    text-indent: 30px;
    line-height: 40px;
    text-align: justify;
    margin: 50px;
    padding-left: 100px;
    padding-right: 100px;
	
}

.menu{
    background-color: black;
	display: flex;
	
}

.menu li{
    padding: 10px;
    list-style: none;
 }

 .menu a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
 }
 
 .logo{
    height: 600px;
    background-image: url('../images/aleksandr.jpg');
    background-size: cover;
    text-align: center;
}

h1{
    color: white;
    font-size: 70px;
    padding-top: 150px;
}

h2{
    font-size: 50px;
    
}



.logo p{
   padding-top: 100px;
   font-size: 30px;
   color: white;
   text-shadow: 2px 2px 2px black;

}

footer{
	background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
	
}

form{
	margin: 0 auto;
	font-size: 30px;
	text-align: center;
	background: linear-gradient(to left, black, #1e1e1e, grey);
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
	text-align: center;
	max-width: 400px;
	margin-bottom: 1.2rem;

}
.date {
    display: flex;
    justify-content: start;
    font-size: 23px;
}

input{
	width: 400px;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	
}

option{
	font-size: 20px;

}

button{
	background: #007BFF;
	color: white;
	font-size: 20px;
	margin: 15px;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    transition: 0.3 s;
}
button:hover {
    background: #0056b3;
    cursor: pointer;
}

 .logo_articles{
    height: 600px;
    background-image: url('../images/tunel.jpg');
    background-size: cover;
    text-align: center;
}

.link{
    color: white;
}
.place_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btn {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.button_in, .button_up {
    display: inline-block; /* Щоб відступи працювали коректно */
    padding: 8px 16px;     /* Збільшив внутрішні відступи для краси */
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;       /* Оптимальний розмір шрифту */
    font-family: sans-serif; /* Бажано додати шрифт, щоб було читабельно */
    transition: 0.3s;
    margin-left: 10px;     /* Відступ між кнопками */
    border: none;          /* Прибирає рамку, якщо це тег <button> */
}

.button_in:hover, .button_up:hover {
    background: #0056b3;
    cursor: pointer;
}